.main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #33658A;
  padding: 0 1rem 0 1rem;
}

.app-name {
  font-size: 1.3rem;
}

.app-name a {
  text-decoration: none;
  color: #F6AE2D;
}

.header-nav {
  display: flex;
  flex-direction: row;
  color: rgba(255, 255, 255, 1);
}

.nav-link {
  margin-left: 1rem;
  padding: 0.5rem;
  border: 2px solid #2F4858;
  background-color: #55DDE0;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #2F4858;
}

.nav-link:hover {
  border: 2px solid rgba(255, 255, 255, 0.7);
  color: #55DDE0;
  background-color: #2F4858;
  transition-property: color background-color border;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: color background-color border;
  -webkit-transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-in-out;
}

